@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap");
body, html {
  margin: 0;
}

body {
  height: 100%;
  font-family: 'Playfair Display';
  background: black;
}

header {
  position: absolute;
  padding: 1em;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 2em);
  background: #111;
}

header a {
  text-decoration: none;
  color: white;
}

header a.logo {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
}

header nav ul li a {
  padding: 1em;
}

section {
  background: black;
}

section.Video, section.Music, section.Shop {
  text-align: center;
}

section.Video h2, section.Music h2, section.Shop h2 {
  letter-spacing: 0.2rem;
}

section.TTC {
  background: url("../img/ttc-min_3.jpg");
  background-size: cover;
  padding-top: 15em;
  padding-bottom: 15em;
  text-align: center;
}

section.TTC h1 {
  color: white;
  letter-spacing: 0.5rem;
  padding-top: 5em;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
}

section.TTC p {
  color: white;
  width: 70%;
  font-size: 1.2rem;
  margin-bottom: 0;
  text-align: center;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.wrapper section {
  padding: 3em;
}

.wrapper section h1, .wrapper section h2 {
  text-transform: uppercase;
  margin: 0;
}

.wrapper section h2 {
  font-size: 1.4rem;
}

.wrapper section.Video {
  font-size: .9rem;
  line-height: 1.6em;
  color: white;
  background: black;
}

.wrapper section.Video h2 {
  padding-bottom: 1em;
}

.wrapper section.Music {
  color: white;
  background: black;
}

.wrapper section.Music .logo-link img {
  width: 150px;
  vertical-align: middle;
  text-align: center;
}

.wrapper section.Music .logo-link {
  display: inline-block;
}

.wrapper section.Shop {
  color: white;
  background: black;
}

.wrapper section.Shop a {
  text-decoration: none;
}

.wrapper section.Shop .shop_button {
  color: white;
  margin-top: 1em;
  display: block;
  background-position: 0 .3em;
}

section.describtion, section.Impressum, section.Datenschutz, section.contact,
section.Members {
  padding: 3em;
  color: white;
}

section.describtion h1, section.describtion h2, section.Impressum h1, section.Impressum h2, section.Datenschutz h1, section.Datenschutz h2, section.contact h1, section.contact h2,
section.Members h1,
section.Members h2 {
  text-transform: uppercase;
}

section.describtion h2, section.Impressum h2, section.Datenschutz h2, section.contact h2,
section.Members h2 {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}

section.describtion a, section.Impressum a, section.Datenschutz a, section.contact a,
section.Members a {
  text-decoration: none;
}

section.describtion .shop_button, section.Impressum .shop_button, section.Datenschutz .shop_button, section.contact .shop_button,
section.Members .shop_button {
  color: white;
  margin-top: 1em;
  display: block;
  background-position: 0 .3em;
  text-decoration: none;
}

section.contact {
  background: url("../img/felix2-min.jpg");
  background-size: cover;
  padding-top: 5em;
  padding-bottom: 5em;
}

section.contact h3 {
  letter-spacing: 0.1rem;
}

footer {
  text-align: center;
  background: #111;
  padding: 30px;
  display: block;
}

footer a {
  color: #989596;
  font-size: 40px;
  margin: 0 15px;
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (min-width: 600px) {
  section.TTC h1 {
    font-size: 2.1rem;
  }
}

@media only screen and (min-width: 800px) {
  html {
    font-size: 18px;
  }
  section.TTC {
    padding-top: 10em;
    padding-bottom: 10em;
  }
  section.TTC h1 {
    font-size: 3.5rem;
    padding-top: 8em;
    letter-spacing: 1.5rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  section.Video, section.Music {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  section.contact {
    padding-top: 17em;
    padding-bottom: 17em;
  }
}

@media only screen and (max-width: 800px) {
  header {
    font-size: 14px;
  }
  header a.logo {
    letter-spacing: 0.0rem;
  }
  section.TTC {
    padding-top: 13em;
    background-position: center;
  }
  section.contact {
    background-position: center;
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }
  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 400px) {
  header {
    font-size: 12px;
  }
  section.TTC {
    padding-top: 6em;
    background-position: center;
  }
}
/*# sourceMappingURL=main.css.map */