<footer class="w3-center w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"
    ><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a
  >

  <div class="w3-xlarge w3-section">
    <a class="ttc-footer" href="https://www.facebook.com/turnthecourse" target="_blank">
      <i class="fab fa-facebook" aria-hidden="true"></i>
    </a>
    <a class="ttc-footer" href="https://www.instagram.com/turnthecourse" target="_blank">
      <i class="fab fa-instagram" aria-hidden="true"></i>
    </a>
    <a class="ttc-footer" href="https://www.youtube.com/channel/UCLvpX2XACxYFVTttEevyYqg" target="_blank">
      <i class="fab fa-youtube" aria-hidden="true"></i>
    </a>
    <a class="ttc-footer" href="https://www.tiktok.com/@turnthecourse" target="_blank">
      <i class="fab fa-tiktok" aria-hidden="true"></i>
    </a>
    <a class="ttc-footer" href="https://open.spotify.com/artist/4VgNJfOR0uNNQFQtrJ0ZFm" target="_blank">
      <i class="fab fa-spotify" aria-hidden="true"></i>
    </a>
    <a class="ttc-footer" href="https://music.apple.com/de/artist/turn-the-course/1369471894" target="_blank">
      <i class="fab fa-itunes" aria-hidden="true"></i>
    </a>
  </div>

  <div class="footer-legal">
    <a href="impressum.html">Imprint</a>
    <a href="datenschutz.html">Privacy Policy</a>
  </div>
</footer>
