<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a
      class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right"
      href="javascript:void(0);"
      onclick="toggleFunction()"
      title="Toggle Navigation Menu"
    >
      <i class="fa fa-bars"></i>
    </a>
    <a href="index.html#home" class="w3-bar-item w3-button">HOME</a>
    <a href="index.html#portfolio" class="w3-bar-item w3-button w3-hide-small"
      ><i class="fa fa-music"></i> MUSIC</a
    >
    <a href="videos.html" class="w3-bar-item w3-button w3-hide-small"
      ><i class="fa fa-video"></i> VIDEOS</a
    >
    <a
      href="https://turnthecourse.bigcartel.com/"
      class="w3-bar-item w3-button w3-hide-small"
      target="_blank"
      ><i class="fa fa-tshirt"></i> STORE</a
    >
    <a href="index.html#about" class="w3-bar-item w3-button w3-hide-small"
      ><i class="fa fa-user"></i> ABOUT</a
    >
    <a href="tour.html" class="w3-bar-item w3-button w3-hide-small"
      ><i class="fa fa-shuttle-van"></i> TOUR</a
    >
    <a href="index.html#contact" class="w3-bar-item w3-button w3-hide-small"
      ><i class="fa fa-envelope"></i> CONTACT</a
    >
  </div>

  <!-- Navbar on small screens -->
  <div
    id="navDemo"
    class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium"
  >
    <a
      href="index.html#portfolio"
      class="w3-bar-item w3-button"
      onclick="toggleFunction()"
      >MUSIC</a
    >
    <a
      href="videos.html"
      class="w3-bar-item w3-button"
      onclick="toggleFunction()"
      >VIDEOS</a
    >
    <a
      href="https://turnthecourse.bigcartel.com/"
      class="w3-bar-item w3-button"
      onclick="toggleFunction()"
      target="_blank"
      >STORE</a
    >
    <a
      href="index.html#about"
      class="w3-bar-item w3-button"
      onclick="toggleFunction()"
      >ABOUT</a
    >
    <a
      href="tour.html"
      class="w3-bar-item w3-button"
      onclick="toggleFunction()"
      >TOUR</a
    >
    <a
      href="index.html#contact"
      class="w3-bar-item w3-button"
      onclick="toggleFunction()"
      >CONTACT</a
    >
  </div>
</div>
